{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-rectangle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=300px width=200px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a soon-to-be graduate of the University of Texas at Austin.</h3>
        <h3>I studied biology and interior design.</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more, check out my academic &amp; professional <a href="resume.pdf" target="_blank">resume</a>.</h3>
        <h3>You can contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
